@import './_common.scss';
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


.home-container{
    @include flex-center;
    flex-direction: column;
    height: 85vh;
    width: 100vw;
}

h1{
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 700;
    color: #FBFCFC;
    font-size: 5vw;
}

h2{
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 700;
    color: #FBFCFC;
    font-size: 2vw;

}

