@import './_common.scss';
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


.container{
    @include flex-center;
    flex-direction: column;
    
}


h1{
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 700;
    color: #FBFCFC;
    font-size: 5vw;
    // text-shadow: 1px 1px 2px $dark, 0 0 1em $dark, 0 0 0.2em $dark;
}

h2{
    font-family: 'Bona Nova';
    font-style: normal;
    font-weight: 700;
    color: #FBFCFC;
    font-size: 2vw;
    // text-shadow: 1px 1px 2px $dark, 0 0 1em $dark, 0 0 0.2em $dark;

}

