@import './_common.scss';

nav{
    @include flex-center;
    background-color: $dark;
    margin: 0;
    padding: 0;
    height: 15vh;
    width: 100vw;

    ul {
        @include flex-center;
        flex-direction: row;
        height: 100%;
        width: 60%;
        margin: 0;
        padding: 0;
    }

    li{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0 3%;
        margin: 0 2%;
        list-style: none;
        cursor: pointer;

        &:after{
            display:block;
            content: '';
            border-bottom: solid 5px $orange;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }
    
        &:hover:after{
            transform: scaleX(1.5);
        }
    }

    .active{
        &::after{
            display:block;
            content: '';
            border-bottom: solid 5px $orange;
            transform: scaleX(1.5);
            transition: transform 250ms ease-in-out;
        }
    }

    @media (min-width: 540px) {
        h3{
            padding: 0;
            color: $white;
            @include font-regular;
            font-size: x-large;
        }
    }

    @media (max-width: 540px) {
        h3{
            padding: 0;
            color: $white;
            @include font-regular;
            font-size: large;
        }
    }


    a{
        text-decoration: none;
    }



}






