@import './_common.scss';
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');


.portfolio-container {
    display: flex;
    //position: absolute;
    align-items: center;
    flex-direction: column;
    //left: 100vw;
    width: 100vw;
    height: 85vh;
    transition: left 1.5s;
    overflow-y: auto;
}

.carousel-pf{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: rgba(192, 136, 33, 0.4);
    width: 30vw;
    height: 20vh;
}

.carousel-portfolio{
    width: 60%;
}

.container-ca-portfolio{
    display: flex;
    flex-direction: row;
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);

    &:after{
        content: "";
        clear: both;
        display: table;
    }
}

.item_carousel-nav{
    float: left;
}

.description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 40%;
    padding: 5%;
    margin: 5%;
    background-color: rgba(27, 54, 79, 0.6);
    border-radius: 20px;
    overflow: hidden;


    h2 {
        text-align: center;
        color: $white;
        font-family: 'Noto Sans';
        font-style: normal;
    }

    p {
        text-align: center;
        color: $white;
        font-family: 'Noto Sans';
        font-style: normal;
    }

    div {
        position: absolute;
        transition: left 1s;
        width: 100%;
        @include flex-center;
        flex-direction: column;


    }

    #desc-1 {
        left: 0;
    }

    #desc-2 {
        left: 100%;
    }

    #desc-3 {
        left: 200%;
    }

    #desc-4 {
        left: 300%;
    }
}